@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    --prymary-color: #3b73a8;
    --size-bar-lateral: 291px;
    --size-bar-lateral-collapsed: 85px;
    --height-header: 80px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--size-bar-lateral);
    min-height: 100vh;
    background-color: var(--prymary-color);
    transition: all .4s ease;
    z-index: 1000;
}

ol, ul{
    padding: 0;
}/*cambio*/

.sidebar.collapsed .sidebar-nav .nav-list{
    padding: 0 15px;
}/*cambio*/

/* sidebar collapsed*/
.sidebar.collapsed{
    width: var(--size-bar-lateral-collapsed);
}

a{
    text-decoration: none;
}



.sidebar .sidebar-header{
    display: flex;
    position:  relative;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
    padding: 25px 20px ;
}

.sidebar .sidebar-header .header-logo{
    width: 170px;
    transition: .4s ease;
}
.sidebar.collapsed .sidebar-header .header-logo{
    width: 50px;
}

.sidebar-header .sidebar-toggler{
    position: absolute  ;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #EEF2FF;
    transition: .4s ease;
}
.sidebar-header .sidebar-toggler:hover{
    background-color: #E6E6E6;
}

.sidebar-header .sidebar-toggler img{
    font-size: 1.75rem;
    transition: .4s ease;
}

.sidebar.collapsed .sidebar-toggler img{
    transform: rotate(180deg);
}

.sidebar.collapsed .sidebar-toggler{
    transform: translate(-4px, 65px);
}

.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transform: translateY(15px);
    transition: 0.4s ease;

}

.sidebar-nav:has(.collapsed) .nav-list{
    overflow-x: hidden;
}

.sidebar.collapsed .sidebar-nav .primary-nav{
    transform: translateY(65px);
}

.sidebar-nav .primary-nav{
    overflow-y: auto;
    height: calc(100vh - 204px);
    padding-bottom: 50px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom: 5rem;
    overflow: hidden;
}

.sidebar-nav .primary-nav:hover{
    scrollbar-color: white transparent;
}

.sidebar.collapsed .sidebar-nav .primary-nav{
    overflow-y: unset;
    transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link{
    color: white;
    display: flex;
    padding: 11px 15px;
    white-space: nowrap;
    gap: 12px;
    align-items: center;
    border-radius: 8px;
    transition: .4s ease;
    
}
.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.dropdown-title){
    background-color: color-mix(in srgb, var(--prymary-color) 80%, white);
    transform: scale(1.05);/*Cambio*/
}

.sidebar-nav .nav-link :where(.nav-label,.dropdown-icon){
    transition: opacity .4s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label,.dropdown-icon){
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav{
    position:absolute;
    bottom: 30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hiden;
    background-color: var(--prymary-color);
}
/* Dropdown menu*/
.sidebar-nav .nav-item{
    position: relative;
}
.sidebar-nav .dropdown-container .dropdown-icon{
    margin: 0 -4px 0 auto;
    transition: transform .4s ease,  opacity .4s .2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon{
    transition: opacity .4s 0s ease;
}

.sidebar-nav .dropdown-container.open .dropdown-icon{
    transform: rotate(180deg);
}

.sidebar-nav .Dropdown-menu{
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: height .4s ease;
}

.sidebar.collapsed .Dropdown-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto !important;
    overflow-y: unset;
    pointer-events: none;
    padding-right: 10px;
    background-color: var(--prymary-color);
    border-radius: 0 10px 10px 0;
    transition: 0s;
}

.sidebar.collapsed .Dropdown-menu:has(.dropdown-link) {
    padding: 7px 10px 7px 25px;

}

.sidebar.collapsed .nav-item:hover  .Dropdown-menu{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(12px);
    transition: .4s ease;
}

.Dropdown-menu .nav-item .nav-link{
    padding: 9px 15px;
}

.sidebar.collapsed .Dropdown-menu .nav-link{
    padding: 7px 15px;
}
.Dropdown-menu .nav-item .dropdown-title{
    display: none;
}

/*Titulos de subcategorías*/
.Dropdown-menu .nav-item .dropdown-title.sub-title{
    display: block;
}

.Dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title{
    font-weight: 500;
}

.sidebar.collapsed .Dropdown-menu .dropdown-title{
    display: block;
}

.Dropdown-menu{
    background-color: color-mix(in srgb, var(--prymary-color), black 30%);
}

.nav-item>ul{
    padding: 0;
}
.Dropdown-menu .nav-item>ul{
    list-style-type: none!important;
}
.nav-item.sub-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10ppx;
}


